body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#slideshow-container {
    width: 80%;
    height: 30rem;
    max-width: 600px;
    border: 5px solid #000;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
}

#slideshow {
    width: 100%;
    height: 100%;
}
